<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= Team.name %></h1>
    <h2>Coach: <%= Team.coach %></h2>
    <h2>Point Guard: <%= Team.pg %></h2>
    <h2>Shooting Guard: <%= Team.sg %></h2>
    <h2>Small Forward: <%= Team.pg %></h2>
    <h2>Power Forward: <%= Team.pf %></h2>
    <h2>Center: <%= Team.c %></h2>


 </body>
</html>


